# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Data / artifacts (don’t commit large files)
data/
!data/processed/.gitkeep
!data/index/.gitkeep

# Logs
*.log
