# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Data / artifacts (don’t commit large files)
data/
!data/processed/.gitkeep
!data/index/.gitkeep

# Logs
*.log
